<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    
    <form class="form">
        <h1><br>Perfil de Usuario: </h1>
        <hr>
            <div>
                <img [src]="imageUrl"  style="width: 100px; ; height: 100px;"><br>
                <br><input  type="file"  (change)= "onFileSelected($event)" >
                
            </div>

        <div>  
            ID: {{this.user.id}}<h2> Nombre y Apellido: </h2>
            <div >
                <input class="text" 
                name="nombre"
                [(ngModel)] = "user.nombre"
                >
            </div>  
        
            <h2> Rol: </h2>
            <div> 
                <input class="text"  
                name="rol"
                [(ngModel)] = "user.rol"
                >
            </div>
         
            <h2> Universidad: </h2>
            <div >
                <input class="text" 
                name="universidad"
                [(ngModel)] = "user.universidad"
                >
            </div>     
        
            <h2> Correo: </h2>
            <div >
                <input class="text" 
                name="correo"
                [(ngModel)] = "user.correo">
            </div>
       
            <h2> Contraseña: </h2>
            <div>
                <input class="text"
                name="password"
                [(ngModel)] = "user.password">
            </div>
            
        </div>
    <button (click) = onSave()> Guardar</button>
    <button id="back" (click)="goBackUrl('/home')"> Atras</button>
    
</form>
