<div class= "perfil">

    <form class="form">
        <h2>Perfil de Usuario:</h2>

        <span>  Nombre y Apellido:</span>
        <input matInput placeholder="{{user.nombre}} {{user.apellido}}" />
        
        <span>  Edad:</span>
        <input matInput placeholder="{{user.edad}}" />
        
        <span>  Rol:</span>
        <input matInput placeholder="{{user.rol}}" />
        
        <span>  Universidad</span>
        <input matInput placeholder="{{user.universidad}}" />

        <span>  Email: </span>
        <input matInput placeholder="{{user.email}}" />
  
        <span>  Password</span>
        <input matInput placeholder="{{user.password}}" />
        
        <span> </span>
    </form>
</div>