<div class="login">
    <form class="form" >
        <h1 class="title">Login</h1>
        <h2 class="logo">Yachay</h2>
        <hr>   
        <div>
            <h3>correo</h3>
            <input 
            type="text"
            name="correo"
            class="forn-control"
            [(ngModel)]="user.correo"
            required
            />
            <hr>
            <h3> Contraseña: </h3>
            <input type="text"
            name = "password"
            class="forn-control"
            [(ngModel)]="password"
            required
            />
            <hr> <br>
            <div>
                <button  type="submit" (click)="login($event)" >Log in</button>
            </div>
            <br>
        </div>

        
  
    </form>
</div>