<div class="login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1 class="title">Login</h1>
        <h1 class="logo">Yachay</h1>
        <input 
        type="text"
        name="correo"
        formControlName="correo"
        class="forn-control"
        [ngClass] = "{'is-invalid': submitted && f.correo.errors}"
        required
        />
        <input type="password"
        formControlName="password"
        class="forn-control"
        [ngClass] = "{'is-invalid': submitted && f.password.errors}"
        required
        />
        <div>
            <button >Log in</button>
        </div>
        
  
    </form>
</div>